.main {
  /* margin-top: 10px; */
  color: white;
  /* min-height: 200vh; */
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; */
  /* background-color: #282c34; */
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 1px;
}
.label {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  /* color: rgb(110, 110, 110); */
  color: teal;
  font-size: 15px;
  font-weight: bold;
}
.sb {
  color: white;
  background-color: teal;
}
.sb:hover {
  box-shadow: 2px 5px 20px 2px rgba(46, 46, 46, 0.5);
}

.pagination:hover {
  cursor: pointer;
}
.page-link {
  background-color: teal;
  color: white;
}
.editDelete {
  margin-top: 10px;
}
